.max-1300 {
    max-width: 1400px;
    padding: 0 50px !important;
}

.w-ful {
    width: 100%;
}

.bg-white {
    background-color: white !important;
}

.black-text {
    color: black;
}

.menu__header {
    .menu__item {
        font-size: 12px;
        cursor: pointer;

        .language-vi,
        .language-en {
            opacity: 0.5;
            cursor: pointer;
        }

        .active {
            color: blue;
            opacity: 1;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
            font-size: 28px;
            display: none;
        }

        img {
            height: 80px;
            max-height: 100%;
        }
    }

    .menu__sup {
        gap: 20px;

        .menu__item {
            font-size: 14.5px;
            font-weight: bold;
            color: #45c3d2
        }
    }
}

.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 40px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;

            .header-logo {
                background: url('../../assets/logovsh.png') center center no-repeat;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }

            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
                // display: none;
            }
        }

        .center-content {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                .sub-title {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }

        .right-content {
            width: 15%;

            display: flex;
            justify-content: center;
            align-items: center;

            .support {
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    font-size: 15px;
                    margin-right: 5px;

                }
            }

            .language {
                display: flex;
                flex-direction: row;

                .language-vi {
                    margin: 0 10px;
                    opacity: 0.2;
                    cursor: pointer;

                    &.active {
                        opacity: 1;

                        span {
                            color: orange;
                        }
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .language-en {
                    margin: 0 10px;
                    opacity: 0.2;
                    cursor: pointer;

                    &.active {
                        opacity: 1;

                        span {
                            color: blue;
                        }
                    }

                    &:hover {
                        opacity: 0.8;
                    }

                }
            }
        }
    }
}

.home-header-banner {
    background: url('../../assets/Crop.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 15px 0;
    display: flex;
    flex-direction: column;

    .content-up {
        // background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 255, 255, 0.1));

        padding-top: 15px;
        height: 65%;
        padding-left: 30px;
        padding-right: 30px;

        .title1 {
            color: white;
            text-align: center;
            font-size: 35px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 5px;
            font-weight: 500;
            margin-top: 30px;
        }

        .title2 {
            color: white;
            text-align: center;
            font-size: 35px;
            font-weight: 900;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 15px;
        }

        .search {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 25px;
            background: #CCC;
            max-width: 100%;

            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 360px;
                background-color: transparent;
                border: none;
                outline: none;
                max-width: 100%;
            }
        }
    }

    .content-down {
        // background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 255, 255, 0.1));

        height: 35%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;

        .options {
            margin-top: 30px;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 50px;

            .option-child {
                width: 12.5%;
                min-width: 170px;

                .icon-child {
                    background: white;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        color: #49bce2;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }

                .text-child {
                    font-size: 17px;
                    font-weight: 500;
                    color: white;
                    text-shadow: 1px 1px #333;

                    &:hover {
                        color: #49bce2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.toggle {
    display: none;
}

.left_menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #333E48;
        opacity: 0.5;
        z-index: 1;
    }

    .main-content {
        position: absolute;
        width: 270px;
        max-width: 90%;
        height: 100%;
        top: 0;
        bottom: 0;
        z-index: 2;
        background-color: white;
        overflow-x: hidden;
        // overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .menu__item {
            width: 100%;
            padding: 10px 15px;
            font-size: 16px;
            color: #45c3d2;
            border-bottom: 1px solid #eee;
        }
    }
}

.active_menu {
    display: block !important;
}

.pointer {
    cursor: pointer;
}