@media only screen and (max-width:1300px) {
    .menu__header {
        .hide__item {
            display: none !important;
        }

    }

    .logo {
        i {
            display: block !important;
        }
    }
}

@media only screen and (max-width:678px) {
    .menu__header {
        .logo {
            max-height: 60px;

            img {
                max-height: 60px;
            }
        }
    }

    .section-about-content {
        flex-wrap: wrap;
        gap: 0;

        .content-left {
            width: 100% !important;
            min-width: 100% !important;
        }

        .content-right {
            p {
                padding: 0 !important;
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .max-1300 {
        padding: 0 30px !important;
    }

    .menu__header {
        .logo {
            max-height: 50px;

            img {
                max-height: 50px;
            }
        }

        .hide__576 {
            display: none;
        }
    }

    .home-header-banner .content-up {

        .title1,
        .title2 {
            font-size: 30px;
        }
    }
}

@media only screen and (max-width:500px) {
    .section-share .section-body .section-customize .bg-image {
        width: 100% !important;
    }
}