#TableManageUser{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#TableManageUser td, 
#TableManageUser th{
    border: 1px solid #ddd;
    padding: 8px;
}
#TableManageUser tr:nth-child(even){
    background-color: #f2;
}