.user-container {
  background-image: url('../../assets/');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
  
    margin-top: 0px !important;
}