.user-container {
  background-image: url('../../assets/Crop.jpg') !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh !important;
  
    margin-top: 0px !important;
}