.main__footer {
    margin: 0 auto;
    margin: 30px 0 0 0;
    font-size: 16px;
    gap: 30px;

    img {
        max-height: 60px;
    }

    .text-primary {
        color: #45c3d2;
    }

    .ft_1 {
        width: 50%;
        padding-bottom: 30px;
    }
    .ft_2,
    .ft_3 {
        padding-bottom: 30px;
        width: 25%;
    }
}
.copy {
    font-size: 16px;
}

@media only screen and (max-width:1000px) {
    .ft_1 {
        width: 40%;
    }
    .ft_2,
    .ft_3 {
        width: 30%;
    }
}

@media only screen and (max-width:800px) {
    .main__footer {
        flex-wrap: wrap;
    }
    .ft_2,
    .ft_3, 
    .ft_1 {
        width: 100% !important;
    }
}

@media only screen and (max-width:400px) {
    .main__footer {
        img {
            height: 50px;
        }
    }
}
