.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; // Sử dụng chiều cao 100% của viewport
}

.search-results {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
        margin: 5px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        cursor: pointer;

        &:hover {
            background-color: #e0e0e0;
        }
    }
}