@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;

    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        padding-right: 0;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }

    .languages {
        display: flex;
        align-items: center;

        .welcome {
            margin-right: 8px;
        }

        .language-en {
            margin-right: 15px;
            margin-left: 10px;
            cursor: pointer;

            &.active {
                opacity: 1;
                color: #30d663;
            }
        }

        .language-vi {
            margin-right: 10px;
            margin-left: 5px;
            cursor: pointer;

            &.active {
                opacity: 1;
                color: orange;
            }
        }
    }
}

.main__header {
    padding: 0 15px;

    .bar__btn {
        display: none !important;

        .bar_icon {
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.main-content_header {
    // background-color: #0071BA !important;
    color: white;

    a {
        color: white !important;
        text-decoration: none;
    }

    .navigator-menu {
        .menu-group {
            width: 100%;
            font-size: 16px;
            // border-bottom: 1px white solid;
            cursor: pointer;

            .menu-group-name {
                width: 100%;
                padding: 15px 15px;
                border-bottom: 1px white solid;
                background-color: #0071BA;
            }

            .menu-list {
                background-color: white;

                a {
                    color: black !important;
                }

                .menu {
                    padding: 8px 0 8px 40px;
                    border-bottom: 1px gray solid;

                    &:hover {
                        background-color: #0071BA;

                        a {
                            color: white !important;
                        }
                    }
                }

            }
        }
    }
}

.active__submenu {
    display: none !important;
}

.navigator-menu.list-unstyled,
.navigator-menu .list-unstyled .menu-group:nth-child(1) {
    .menu-group-name {
        border-left: none !important;
    }
}

@media only screen and (min-width:1000px) {
    .main__header {
        padding: 0 15px 0 0;
    }
}

@media only screen and (max-width:1000px) {
    .main__header {
        .bar__btn {
            display: flex !important;
        }

        .navigator-menu {
            display: none !important;
        }
    }
}