div._loading_overlay_wrapper{
    position: unset;
    ._loading_overlay_overlay{
        z-index: 9122000;
    }
}
.manage-patient-container{
    .m-p-title{
        font-size: 15px;
        margin: 10px 0;
        text-align: center;
        text-transform: uppercase;
    }
    .manage-patient-body{
        padding: 0 20px;
        .table-manage-patient{
            table,
            th,
            td{
                border: 1px solid black;
                border-radius: collapse;
            }
            th,
            td{
                padding: 5px;
                text-align: left;
            }
            button{
                border: none;
                outline: none;
                cursor: pointer;
            }
            .mp-btn-confirm{
                margin-right: 10px;
                height: 30px;
                border-radius: 3px;
                background: orange;
            }
            .mp-btn-remedy{
                height: 30px;
                border-radius: 3px;
                background: #39dca0;
            }
        }
    }
        .preview-img-container {
            .label-upload {
                padding: 5px;
                border-radius: 3px;
                background: #ddd;
                cursor: pointer;
    
                &:hover {
                    opacity: 0.9;
                }
            }
    
            .preview-image {
                height: 50px;
                width: 100%;
                border: 1px solid #ddd;
                background: center center no-repeat;
                background-size: contain;
                cursor: pointer;
            }
        }
}