// Common styles for all screen sizes
.verify-email-container {
    .infor-booking {
        font-size: 17px;
        font-weight: 600;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
        color: red;
    }
}

// Responsive styles
@media (min-width: 768px) {
    .verify-email-container {
        .infor-booking {
            font-size: 20px; // Adjust font size for medium-sized screens
        }
    }
}

@media (min-width: 992px) {
    .verify-email-container {
        .infor-booking {
            font-size: 24px; // Adjust font size for large screens
        }
    }
}