.home-header-container{
    height: 60px;
    width: 100%;
    padding: 0 40px;
    .home-header-content{
        width: 100%;
        height: 100%;
        display: flex;
        .left-content{
            width: 25%;
            display: flex;
            align-items: center;
            border: 1px solid green;
            .header-logo{
                background: url('../../assets/vsh.png') center center no-repeat;
                height: 100%;
                width: 100%;
                cursor: pointer;
                
                
            }
            i{
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }
        }
        .center-content{
            width: 60%;
            border: 1px solid orange;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .child-content{
                .sub-title{
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
        .right-content{
            width: 15%;
            border: 1px solid grey;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .support
        }
    }
}
.home-header-banner{
    background: url('../../assets/Crop.jpg');
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
   .content-up{
    border: 1px solid red;
    padding-top: 15px;
    height: 50%;
    .title1{
        color: white;
text-align: center;
font-size: 30px;
text-shadow: 1px 1px 1px #333;
margin-bottom: 5px;
margin-top: 30px;
    }
    .title2{
        color: white;
text-align: center;
font-size: 30px;
text-shadow: 1px 1px 1px #333;
margin-bottom: 15px;
    }
    .search{
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
padding: 10px;
border-radius: 25px;
background: #CCC;
    
    i{
        margin: 0 5px;
    }
    input{
        height: 30px;
        width: 360px;
        background-color: transparent;
        border: none;
        outline: none;
    }
}
   }
.content-down{
    border: 1px solid green;
    height: 50%;
    .options{
        margin-top: 30px;
width: 100%;
text-align: center;
display: flex;
flex-direction: row;
justify-content: center;
gap: 50px;
.option-child{
    width: 12.5%;
    .icon-child{
        background: white;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
        i{
            color:  #49bce2;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .text-child{
        font-size: 17px;
        font-weight: 500;
        color: #49bce2;
        text-shadow: 1px 1px #333;
        &:hover{
            color: #49bce2;
            cursor: pointer;
        }
    }
}
    }
}
   

}