.doctor-detail-container{
    height: 500px;
    margin: 0 100px;
    border: 1px solid red;
    .intro-doctor{
        display: flex;
        border: 1px solid grey;
        .content-left{
            width: 20%;
            background: center center
        }
    }
}