.doctor-schedule-container {
    border-right: 1px solid green;
    height: 100%;
    .all-schedule{
        select{
            border-bottom: 1px solid #ddd;
            border-top:none ;
            border-right: none;
            border-left: none;
        }
    }
}