.profile-doctor-container{
    .intro-doctor{
        display: flex;
        .content-left{
            background: center center no-repeat;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        .content-right{
            
        }
    }
}