extends layout

block content
    h3=title
    div.table-responsive
        form(action='/order/querydr', method='POST')
            div.form-group
                label Mã giao dịch (vnp_TxnRef)
                input.form-control(name='orderId' placeholder='txnRef')
            div.form-group
                label Thời gian tạo giao dịch * Ghi theo định dạng năm tháng ngày, viết liền không có dấu cách * (vnp_TransactionDate)
                input.form-control(name='transDate', placeholder='yyyyMMdd')
            button.btn.btn-default(type='submit') QueryDr
