extends layout

block content
    if code == "00"
        p(style="text-align: center")  GD thành công 
    else
        p(style="text-align: center; color: red") GD thất bại
    p(style="text-align: center")
        a.btn.btn-default(href='/order/querydr') Truy vấn kết quả thanh toán đặt lịch khám online 

     p(style="text-align: center") QUAN TRỌNG: Hãy lưu lại mã giao dịch. Khi đến khám, bạn hãy tra cứu kết quả giao dịch bằng mã giao dịch trước, sau đó đưa cho giao dịch viên làm bằng chứng đã thanh toán, chúng tôi sẽ phục vụ bạn một cách nhanh chóng nhất