extends layout

block content
    - const isBrowser = typeof window !== 'undefined';
    - const vnp_TxnRef = isBrowser ? new URLSearchParams(window.location.search).get('vnp_TxnRef') : '';
    - const vnp_PayDate = isBrowser ? new URLSearchParams(window.location.search).get('vnp_PayDate') : '';

    if code == "00"
        p(style="text-align: center") GD thành công
        p(style="text-align: center") Mã giao dịch: #{vnp_TxnRef}
        p(style="text-align: center") Thời gian thanh toán: #{vnp_PayDate}
    else
        p(style="text-align: center; color: red") GD thất bại

    p(style="text-align: center")
        a.btn.btn-default(href='/order/querydr') Truy vấn kết quả thanh toán đặt lịch khám online

    p(style="text-align: center") QUAN TRỌNG: Hãy lưu lại mã giao dịch. Khi đến khám, bạn hãy tra cứu kết quả giao dịch bằng mã giao dịch trước, sau đó đưa cho giao dịch viên làm bằng chứng đã thanh toán, chúng tôi sẽ phục vụ bạn một cách nhanh chóng nhất
