.manage-doctor-container {
    padding: 5px;

    .save-content-doctor,
    .create-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .save-content-doctor {
        background: orange;
    }

    .create-content-doctor {
        background: rgb(11, 93, 216);
        color: white;
    }

    .more-info {
        display: flex;
        flex-wrap: wrap;
        /* Added for responsiveness */
        gap: 15px;
        padding-bottom: 15px;

        .content-left {
            width: 100%;
            /* Full width on small screens */

            @media screen and (min-width: 768px) {
                width: 35%;
                /* Adjust width for screens larger than 767px */
            }
        }

        .content-right {
            width: 100%;
            /* Full width on small screens */

            @media screen and (min-width: 768px) {
                width: 65%;
                /* Adjust width for screens larger than 767px */
            }
        }
    }

    .manage-doctor-editor {
        margin-top: 1.5rem;
        padding-left: 3px;
        padding-right: 3px;
    }

    @media screen and (max-width: 767px) {

        /* Adjust styles for screens smaller than 768px wide */
        .save-content-doctor,
        .create-content-doctor {
            margin-top: 10px;
            /* Adjust top margin for smaller screens */
            margin-bottom: 20px;
            /* Adjust bottom margin for smaller screens */
        }
    }
}