.manage-doctor-container {
    padding: 5px;

    .save-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background: orange;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .create-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background: rgb(11, 93, 216);
        cursor: pointer;
        color: white;

        &:hover {
            opacity: 0.9;
        }
    }

    .more-info {
        display: flex;
        gap: 15px;
        padding-bottom: 15px;

        .content-left {
            width:35%;

        }

        .content-right {
            width: 65%;
        }
    }



    .manage-doctor-editor {
        margin-top: 1.5rem;
        padding-left: 3px;
        padding-right: 3px;
    }

}