@media print {
    .page {
        width: initial !important;
        min-height: initial !important;
        border: initial !important;
        border-radius: initial !important;
        background: initial !important;
        box-shadow: none !important;
        margin: initial !important;
        //page-break-after: always;
    }
}

.pdf {
    * {
        print-color-adjust: exact;
    }
}

.tab,
.tab-row {
    page-break-inside: avoid;
}

.tab:last-of-type {
    page-break-after: avoid;
}

div.page-break {
    page-break-after: always;
}

h1 {
    page-break-before: always;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
}

p {
    margin: 0;
}

p+p {
    margin-top: 0.5cm;
}

a {
    text-decoration: none;
    color: black;
}

table {
    page-break-inside: avoid;
}

@page :first {
    margin-left: 0cm;
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 2cm;
}

@page {
    orphans: 4;
    widows: 2;

    size: A4 portrait;
    margin-left: 0cm;
    margin-top: 2cm;
    margin-right: 0cm;
    margin-bottom: 2cm;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding-left: 2cm;
    padding-top: 2cm;
    padding-right: 2cm;
    padding-bottom: 2cm;
}

@media print {

    html,
    body {
        background-color: #fff;
    }
}