// Print / Word doc specific styling
.print {
    * {
        color: black !important;
        text-shadow: none !important;
        box-shadow: none !important;
    }

    .title {
        width: 100%;
        margin: 0;
        padding: 0;
        background: none;

        h1 {
            color: black;
            border-bottom: 1px solid black;
        }
    }

    .profile {
        left: 0;
        margin: 0 1cm 0 1cm;
        width: 5.3cm;
        background: none;

        &:before {
            background: none;
        }

        .name {
            margin-left: -1cm;

            &:after {
                display: none;
            }
        }

        .avatar {
            .photo {
                filter: saturate(0);
                clip-path: circle(50% at center);
            }

            margin: 0 0 0 0cm;

            &:before {
                box-shadow: none;
                background: none;
                width: 0;
                height: 0;
            }
        }
    }

    .tab-row {
        margin-left: 0.5cm;
        margin-right: 0.5cm;

        .tab {
            margin: 0 0.5cm;

            &.language-tab {
                flex: 1 0 51%;
            }
        }
    }

    .tab-title {
        border-bottom: 1px dotted black;
        text-align: center;
        background: none;
    }

    .tab {
        margin-left: 1cm;
        margin-right: 1cm;
        margin-bottom: 0.5cm;
        background: none;

        // &.experience-tab {
        //     //margin-left: 6.7cm;
        // }

        &.skill-tab {
            margin-top: 0;
        }

        .skills {
            .skill {
                background: rgba(0, 0, 0, 0.2) !important;
                print-color-adjust: exact;
            }
        }

        .experience {
            .info {
                border-bottom: 1px solid black;

                .row {
                    .position {
                        &:after {
                            color: black;
                        }
                    }
                }
            }
        }

        .projects {
            .project {
                .project-description {
                    border-top: 2px solid black;
                }

                .project-image {
                    filter: saturate(0);
                }
            }
        }

        .languages {
            print-color-adjust: exact;

            .language-range {
                background: none;
            }

            .language-name {
                .orig {
                    color: transparent !important;
                }
            }
        }
    }
}