// Custom information
$email-provider: '@gmail.com';
$image-avatar: url('https://media.licdn.com/dms/image/C5603AQEMAqZRC9FF7Q/profile-displayphoto-shrink_800_800/0?e=1552521600&v=beta&t=BvdFP_h22V1TbjXEGrSBL0gs-AwEKZPhtXqSdVR802s');
$avatar-size: 150px;

// Colors
$main-color: #55879e;
$sec-color: adjust-hue(lighten($main-color, 12), 20);

$sec-color-lighten-amount: 40;
$sub-title-color: darken($main-color, 40);

$skill-colors: (
    yellow: #ffe696,
    red: #ff7d7d,
    green: #98ffbc,
    blue: #71ecf9,
    purple: #979bf9,
    violet: #df99f5
);

// Fonts
$title-font: 'Lora', 'Noto Sans JP', serif;
$main-font: 'Montserrat', sans-serif;
$main-font-color: rgb(255, 255, 255);
$sec-font-color: rgb(38, 55, 68);

// Styling
$tab-margin-bottom: 1cm;
$transition-easing: cubic-bezier(0.68, -0.55, 0.27, 1.55);

// Icons
$icon-birthday: '\f1fd';
$icon-email: '\f0e0';
$icon-phone: '\f3cd';
$icon-location: '\f3c5';
$icon-website: '\f0c1';
$icon-print: '\f02f';
$icon-paper: '\f1c2';
$icon-pdf: '\f1c1';

$project-image-size: 100px;

$brand-fcc: '\f2c5';
$brand-codepen: '\f1cb';
$brand-github: '\f09b';