#TableManageBooking {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    .mp-btn-confirm {
            margin-right: 10px;
            height: 30px;
            border-radius: 3px;
            background: #0394f5;
        }
}

#TableManageBooking td,
#TableManageBooking th {
    border: 1px solid #ddd;
    padding: 8px;
}

#TableManageBooking tr:nth-child(even) {
    background-color: #f2f2f2;
}

#TableManageBooking tr:hover {
    background-color: #ddd;
}

#TableManageBooking th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}