@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

body {
    // background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-family: "work sans";

    .login-background {

        .login-container {
            width: 320px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
           height: 440px;
            margin: auto;
            position: absolute;
            //    margin: 0 auto;
            background-color: white;
            border-radius: 10px;

            .login-content.row {
                padding: 12px;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                height: 400px;
                margin: auto;

                .text-login {
                    font-weight: 500;
                    font-size: 24px;
                    padding: 0px 0px 4px 0px;
                    text-align: center;
                }

                .login-input {
                    margin-top: 8px;

                    .btn-login {
                        width: 100%;
                        margin: 8px 0;
                        height: 32px;
                        border-radius: 15px;
                        outline: none;
                        border: none;
                        background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
                        font-size: 16px;
                        color: white;
                    }

                    .cus-password-input {
                        position: relative;

                        i {
                            position: absolute;
                            right: 5px;
                            top: 10px;
                            cursor: pointer;
                        }
                    }
                }

                .forgot-pass {
                    font-size: 11.6px;
                }
                .sign-up{
                    display: flex;
                    justify-content: center;
                }

                .social-login {
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 10px;

                    .google {
                        font-size: 28.75px;
                        background: #c32424;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                    }

                    .facebook {
                        font-size: 28.75px;
                        background: blue;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                    }

                    .twitter {
                        font-size: 28.75px;
                        background: #0dcaf0;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                    }
                }
            }
        }
    }



}